<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{> scripts}}
  <title>Document</title>
</head>

<body>
  {{> nav}}
  {{> header}}
  <div id="detailContent">
    <div id="primaryContent">
      <p class="detailAttributes" id="detailTitle">{{features.title}}</p>
      <img class="primaryPhoto" src="{{features.link}}">
      <div class="modifyButtonBox">
        <a href="/gallery/{{features.id}}/edit" class="modifyButtons modifySubBox">Modify</a>
        <form action="/gallery/{{features.id}}?_method=DELETE" method="post" class="modifySubBox" id="deleteForm">
          <button type="submit" class="modifyButtons" id="deleteButton">Delete</button>
        </form>
      </div>
      <div class="detailAttributeBox">
        <span class="detailAttributes">Posted by: </span>
        <a href="/user/{{features.user_id}}" class="userLink">{{features.users.username}}</a>
        <p class="detailAttributes">Photo by: {{features.author}}</p>
        <p class="detailAttributes" id="detailDescription">{{features.description}}</p>
      </div>
    </div>



    <div id="subDetailContent">
      <p id="subDetailTitle">Others you might like...</p>
      {{#each galleries}}
      <div class="otherThumbnailBox">
        <a href="/gallery/{{id}}" class="otherPhotoBox">
          <img class="otherPhotos" src="{{link}}">
          <br>
          <span class="titleLink">{{title}}</span>
        </a>
        <div>
          <span class="detailAttributes">Posted by: </span>
          <a href="/user/{{user_id}}" class="userLink">{{users.username}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>

</html>