<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{> scripts}}
  <title>Document</title>
</head>

<body>
  {{> nav}}
  {{> header}}
  <div id="content">
    <img class="galleryFeature" src="{{features.link}}">

    <a href="/gallery/{{features.id}}/edit">Modify</a>

    <form action="/gallery/{{features.id}}?_method=DELETE" method="post">
      <button type="submit">Delete</button>
    </form>

    <p>Posted by: {{features.users.username}}</p>
    <div id="subContent">
      {{#each galleries}}
      <a href="/gallery/{{id}}">
        <img class="otherPhotos" src="{{link}}">
      </a>
      {{/each}}
    </div>
  </div>
</body>

</html>