<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{> scripts}}
  <title>Document</title>
</head>

<body>
  {{> nav}}
  {{> header}}
  <div id="galleryContent">
    <div id="featureContent">
      <a href="/gallery/{{features.id}}" class="featureLink">
        <img class="featurePhoto" src="{{features.link}}">
      </a>
    </div>
    <div id="subGalleryContent">
      {{#each galleries}}
      <div class="subGalleryContainers">
        <a href="/gallery/{{id}}" class="galleryLinks">
          <img class="galleryPhotos" src="{{link}}">
        </a>
        {{!-- <p class="galleryPhotoTitles">{{title}}</p> --}}
        <a href="/gallery/{{id}}" class="galleryPhotoTitles">{{title}}</a>
      </div>
      {{/each}}
    </div>
  </div>
</body>

</html>